.background {
    background: url(../assets/images/background.png), rgba(252, 214, 212, 0.8);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 380px;
}
